html{
  font-family: 'Nunito', sans-serif;

}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
}

header{
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 1;
  background-color: rgba(225, 38, 43, 1);
  /*background-color: rgb(55, 55, 55);*/
  /*background: linear-gradient(to bottom left, black, rgb(100,100,100)); /* Standard syntax */
}

.headerContainer{
  /*background-color: rgb(200, 200, 200);*/
background: linear-gradient(135deg, rgb(200,200,200) 0%,rgb(150,150,150) 17%,rgb(100,100,100) 40%,rgb(55,55,55) 63%,rgb(2,2,2) 100%);
}

.miniLogo{
  width: 250px;
  height: 50px;
  color: rgb(255, 0, 0);
}

.logo{
  width: 250px;
  height: 50px;
  display: inline-block;
  color: rgba(245, 245, 245, 1);
  font-size: 30px;
  line-height: 50px;
  font-family: 'Abril Fatface', cursive;

}

ul{
  width: 45vw;
  height: 50px;
  display: inline-block;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(245, 245, 245);

}

li{
  display: inline-block;
  height: 50px;
  width: 110px;
  list-style: none;
  float: right;
  text-align: center;
  line-height: 50px;
  font-family: 'Acme', sans-serif;

}
li:hover{
  background-color: rgb(245, 245, 245);
  color: rgba(225, 38, 43, 1);

}

.containerInfo{
  height: 240px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  color: white;
  background-color: rgb(55, 55, 55);
  /*background: linear-gradient(135deg, rgb(200,200,200) 0%,rgb(150,150,150) 17%,rgb(100,100,100) 40%,rgb(55,55,55) 63%,rgb(2,2,2) 100%);*/
  /*background: linear-gradient(to bottom right, black, white); /* Standard syntax (must be last) */*/
  /*background: linear-gradient(to bottom left, black, rgb(100,100,100)); /* Standard syntax */
  /*background-image: url("./public/whiteMetal.jpg");*/
  /*background-size: cover;*/
}

.phoneNums{
  height: 220px;
  width: 25vw;
}

.containerTitle{
  height: 220px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialNet{
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

span{
  height: 50px;
  width: 50px;
}

#fb{
  background-image: url("./public/facebookLogo.png");
  background-size: cover;
}

#ig{
  background-image: url("./public/instagramLogo.png");
  background-size: cover;
}

#tw{
  background-image: url("./public/twitterLogo.png");
  background-size: cover;
}

.address{
  height: 220px;
  width: 25vw;
  }

.mainLogo{
  width: 640px;
  height: 220px;

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 65vh;
  box-shadow: 0px 2px 16px 9px rgba(64,64,64,1);

}

.mySlides {
    display: none;
    height: 65vh;
    width: 100vw;
}
.slideImg{
  height: 65vh;
  width: 100vw;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(50, 50, 50, 0.7);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dots{
  background: linear-gradient(135deg, rgb(200,200,200) 0%,rgb(150,150,150) 17%,rgb(100,100,100) 40%,rgb(55,55,55) 63%,rgb(2,2,2) 100%);
  height: 100px;
}

.whiteSpace{
  width: 100vw;
  height: 200px;
  background: linear-gradient(135deg, rgb(200,200,200) 0%,rgb(150,150,150) 17%,rgb(100,100,100) 40%,rgb(55,55,55) 63%,rgb(2,2,2) 100%);

}
.about{
  width: 100vw;
  height: 1100px;
  background-color: rgb(240, 240, 240);
}

.row1{
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}

.row1left{
  height: 400px;
  width: 47vw;
  background-color: rgba(225, 38, 43, 1);;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.75);

}

#objImg{
  height: 300px;
  width: 47vw;
  margin-top: 30px;
}

.row1right{
  height: 400px;
  width: 47vw;
  background-color: rgba(225, 38, 43, 1);
  display: flex;
  margin-top: 30px;
  box-shadow: 0px 0px 50px -6px rgba(0,0,0,0.75);

}

#workTech{
  margin-top: -30px;
  height: 300px;
  width: 47vw;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(./public/workTech.jpg);
  background-size: cover;
  align-self: center;
  font-size: 25px;
  text-align: center;
}

.row2{
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 125px;
  justify-content: space-around;
}

.row2left{
  height: 400px;
  width: 550px;
  background-image: url(https://ksa.motory.com/tinymce/New%20Folder/mechanic-working-on-car.jpg);
  background-size: cover;
  box-shadow: 0px 2px 47px 8px rgba(64,63,64,1);

}

.row2right{
  height: 300px;
  width: 450px;
}

.services{
  width: 100vw;
  height: 1000px;
  background-color: rgb(230, 230, 230);
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
