html{
  font-family: 'PT Sans', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  /* padding: 0px 20px 0px 20px; */

}
p{
  font-weight: bolder;
  margin: 0;
}
header{
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
  background-color: rgb(180, 0, 0);
  box-shadow: 0px 4px 9px -5px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Martel', serif;
  /*background-color: rgb(55, 55, 55);*/
  /*background: linear-gradient(to bottom left, black, rgb(100,100,100)); /* Standard syntax */
}

a{
  color: rgb(180, 0 ,0);
}

#miniLogo{
  height: 45px;
  width: 70px;
}
.title{
  font-size: 30px;
  height: 50px;
  margin: 0;
  /* padding-left: 40px; */
}

.logo{
  width: 40%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  color: rgba(250, 250, 250, 1);
  font-size: 30px;
  line-height: 50px;
  /* font-family: 'Martel', serif; */
  padding-left: 40px;
  cursor: pointer;
}

ul{
  width: 40%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*display: inline-block;*/
  /*float: right;*/
  color: rgb(250, 250, 250);
  margin: 0;
  padding-right: 30px
}

li{
  height: 75%;
  width: 100%;
  list-style: none;
  text-align: center;
  font-family: 'Martel', serif;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 2px solid white; */
}
.border{
  height: 50px;
  width: 5px;
  background-color: white;

}
#contactTab{
  /* border-right: 2px solid white; */
  border: none;
}

.liHover:hover{
  background-color: rgb(250, 250, 250);
  color: rgb(180, 0, 0);
  /* border: 5px solid rgb(180, 0, 0);s */
  /* border:0px solid  rgb(180, 0, 0);
  outline: 15px solid rgb(180, 0, 0);
  outline-offset: -15px; */
  /* border-radius: 10px; */

}

.ul{
  display: none;
  background-color: rgb(180, 0, 0);
  color: rgb(255, 255, 255);
  margin-top: 100px;
  position: fixed;
  width: 100%;
  z-index: 1;
}


.containerInfo{
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  color:white;
  background-image: url("./public/footer.jpg");
  background-repeat: repeat;
  background-size: 13px 13px;


}

.infoRow1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}
.infoRow2{
  padding: 0 40px 0 40px;
  width: 100%;
  
}

.welcomeTitle{
  color: rgb(234, 201, 79);
}

.welcome{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.welcomeParagraph{
  width: 700px;
  font-size: 20px;
}

.listContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
  height: 250px;
  margin-top: -30px;
  
}
.list{
  width: 400px;
  height: 35px;
  justify-content: flex-start;
  cursor: auto;
  padding-left: 20px;
  font-family: 'PT Sans', sans-serif;
}

#item1{
  padding-left: 20px;
  
}
#item2{
  padding-left: 30px;
  
}
#item3{
  padding-left: 40px;
  
}
#item4{
  padding-left: 50px;
  
}
#item5{
  padding-left: 60px;
  
}

#listText{
  margin-left: 10px;
  font-size: 20px;
}

.phoneNums{
  height: 220px;
  width: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  padding-left: 20px;
}
.rowContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.numName{
  color: white;
  font-size: 22px;
  padding-left: 20px;
  /* font-family: 'Martel', serif; */
}
#pdfLink:hover{
  transform: scale(1.1);
  color: rgb(180, 0 ,0);
}

#namenum{
  font-size: 25px;

}

#call{
  margin: 0;
}

.containerTitle{
  height: 200px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialNet{
  width: 100%;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#ig{
  height: 50px;
  width: 90%;
}

#ig:hover{
transform: scale(1.1);
}

.address{
  height: 220px;
  width: 360px;
  text-align: center;
  /* font-family: 'Martel', serif; */
  padding-right: 40px;
}

.mainLogo{
  width: 90%;
  height: 220px;
  
}

.mapIt{
  color: rgb(180, 0 ,0);
  font-size: 35px;
}

.slideBackground{
  width: 100%;
  height: 500px;
  padding: 0px 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(41,41,41), rgb(237,237,237));
}
.mapIt:hover{
  color: white;
  transform: scale(1.1);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0;
  width: 100%;
  height: 400px;
  /* align-self: center; */
  box-shadow: 0px 2px 16px 9px rgba(64,64,64,1);

}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  justify-content: center;
  align-items: center; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; 

  /* Add a pointer on hover */
}

* {box-sizing: border-box;}

#spanContainer{
  height: 50px;
  width: 50px;
  background-color: white;
  color: rgb(180, 0 ,0);
  position: relative;
  left: 97%;
  border-radius: 50px;
  top: 5%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 38px;
  z-index: 4;
}
/* #xSpan{
  height: 100px;
  width: 100px;
  background-color: white;
  color: black;
  position: relative;
  right: 70%;
  top: 5%;
} */
.img-comp-container {
  position: relative;
  height: 500px;
  width: 750px; 
  margin-top: -100px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align :middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  font-size: 50px;
  width: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(180, 0 ,0);
  /* opacity: 0.7; */
  border-radius: 50%;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;

}
.slideImg{
  width: 100%;
  height: 100%;
}
.scrollUp {
  cursor: pointer;
  position: fixed;
  top: 80%;
  right: 1%;
  z-index: 1;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  background-color: rgba(50, 50, 50, 0.7);
  opacity: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(50, 50, 50, 0.7);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.about{
  width: 100%;
  height: 1400px;
  /* background-color: rgb(250, 250, 250); */
  /* background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(./public/gtr.jpg)
    no-repeat
    fixed
    center;
  /* background-repeat: no-repeat; */
}

.row1{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 70px;
  padding: 0 40px 0 40px;
}

.aboutUsImgContainer{
  width: 600px;
  display: flex;
  justify-content: center;
}

#aboutUsImg{
  height: 300px;
  width: 450px;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  /* border: rgb(255, 255, 255) solid 2px; */
  -webkit-box-shadow: 0px 10px 50px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 50px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 50px -10px rgba(0,0,0,0.75);  
}

#objImg{
  height: 300px;
  width: 47vw;
  margin-top: 30px;
}
#missionTitle{
  margin-top: -20px;
  text-align: center;
  font-size: 35px;
  color: rgb(234, 201, 79);
}

#missionText{
  font-size: 16px;
  text-align: justify;
}

#icarText{
  font-size: 16px;
  text-align: justify;
}

.row1right{
  height: 300px;
  width: 750px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}

.row2{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
}
.goldContainer{
  margin-left: 20px;
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#goldClassLogo{
  height: 200px;
  width: 400px;
}

.row3{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 40px 0 40px;
}

.lowerMargin{
  margin-top: 5px;
  margin-bottom: 5px;
}

.row2right{
  height: 300px;
  width: 750px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}

.services{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 950px;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.serviceImg{
  padding-top: 20px;
  height: 800px;
  width: 750px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#brainCont1{
  width: 600px;
  padding-top: 20px;
}

#brainCont3{
  width: 600px;
}

.threes{
  width: 170px;
  height: 170px;
  background-color: rgba(237, 238, 237, 1);
  color: rgb(160, 0, 0);
  border: 3px solid black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 9px 5px -4px rgba(0,0,0,0.34);
  font-size: 18px;
  transition: 0.3s;
}

.threes:hover{
  background-color: rgb(160, 0, 0);
  color: rgba(237, 237, 237, 1);
  box-shadow: 0px 16px 25px -2px rgba(0,0,0,0.42);
  cursor: pointer;
}

#carIcon{
  background-image: url("./public/carIcon.png");
  background-size: cover;
  width: 350px;

}

.serviceInfo{
  padding-top: 0px;
  height: 800px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.serviceTitle{
  text-align: center;
  background-color: rgb(160, 0, 0);
  color: white;
  width: 100%;
  border-radius: 10px;
}

.guarentee{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(./public/gearKnob.jpg);
  background-size: cover;
  height:400px;
  width: 100%;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

#star{
  margin-left: -50px;
  margin-top: 175px;
}

.satsTee{
  height: 290px;
  width: 290px;
}

.referrals{
  width: 100%;
  height: 900px;
  background: rgb(250, 250, 250);
}

.redBack{
  margin-top: 50px;
  width: 100%;
  height: 350px;
  background-color: rgb(160, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#refTitle{
  margin: 0;
  margin-top: 50px;
  color: rgb(250, 250, 250);
}
#r8{
  height: 300px;
  width: 700px;
  box-shadow: 0px 34px 28px -3px rgba(189,185,189,1);

}

#collisionRepair{
  height: 175px;
  width: 240px;
}

.collisionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#collisionText{
  margin-top: 20px;
}

.networkContainer{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
}

.refNet{
  width: 400px;
  height: 300px;
  margin-left: 100px;
}

#refNet{
  width: 350px;
  height: 300px;
  box-shadow: 0px 12px 28px -3px rgba(189,185,189,1);
  border-radius: 100%
}

.refInfo{
width: 400px;
height: 300px;
margin-right: 100px;
}

.contact{
  width: 100%;
  height: 850px;
  position: relative;
  color: rgb(230, 230, 230);
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./public/audiLights.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainContact{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.payment{
  width: 30%;
  height: 200px;
}
p{
  text-align: justify;
}

#cc{
  height: 100px;
  width: 200px;
}

#yelp{
  color: rgb(230, 0, 0);
  font-size: 20px;

}

#days{
  font-size: 25px;
  text-align: left;
}

#allDays{
  white-space: nowrap;
}
#times{
  padding-left: 20px;
}
.timesContainer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.numbers{
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.icon{
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

#mail{
  height: 20px;
  width: 30px;
}

.hours{
  height: 200px;
  width: 30%;
  font-size: 20px;

}
.mapForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 50px;
  font-weight:900;
  height:400px;
  padding: 0 40px 0 40px;
}
.map{
  height: 450px;
  width: 68%;
  margin-top:20px;
}

#contactForm{
  height: 370px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;

}

.formContainer{
  margin-top: -35px;
  width: 30%;
  font-size: 40px;
}
.text{
  margin: 0;
}

.containerForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 370px;
  font-size: 19px;
  color: black;
}
input{
  padding-left: 20px;
}
textarea{
  padding-left: 20px;
}

#inputName{
  width: 80%;
  height: 40px;
  font-size: 14px;
  background-color: rgba(30, 30, 30, 0.7);
  color: white;
  border-radius: 5px;
  border: none;
}

#inputEmail{
  width: 80%;
  height: 40px;
  font-size: 14px;
  background-color: rgba(30, 30, 30, 0.7);
  color: white;
  border-radius: 5px;
  border: none;
}

#inputSubject{
  width: 80%;
  height: 40px;
  font-size: 14px;
  background-color: rgba(30, 30, 30, 0.7);
  color: white;
  border-radius: 5px;
  border: none;
}

#inputMessage{
  width: 80%;
  height: 120px;
  font-size: 14px;
  background-color: rgba(30, 30, 30, 0.7);
  color: white;
  border-radius: 5px;
  border: none;
}

#inputSubmit{
 color: white;
 background-color: rgb(190, 0, 0);
 height: 40px;
 width: 200px;
 border: none;
 border-radius: 10px;
 font-size: 15px;
}

#inputSubmit:hover{
  background-color: rgb(255, 0, 0);
}

#faxLogo{
  height: 30px;
  width: 30px;
  margin-left: 20px;
  font-size: 30px;
  color: rgb(234, 201, 79);
}

.credit{
  height: 70px;
  width: 200px;
  margin-right: 20px;
}
.rights{
  margin-left: 20px;
}

.iCarFoot{
  height: 100px;
  width: 140px;
}

.yelpFoot{
  height: 100;
  width: 125px;
}

.googleFoot{
  height: 80px;
  width: 180px;
}

/*Fading animation*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer{
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: rgba(50, 50, 50, 1);
  color: rgb(180, 180, 180);
  font-size: 13px;
  justify-content: space-between;
}

#footerImg{
  height: 100px;
  width: 70vw;
}

#footerImgContainer{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burgerContainer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


@media screen and (min-width: 1001px) {
  .containerInfo{
    margin-top: 70px;
  }
}


/* SMALLER MONITOR SCREENS OR TABLET*/
@media only screen and (max-width: 1071px) and (min-width: 861px) {

  .title{
    font-size: 26px;
  }
  #namenum{
    font-size: 20px;
  }

  ul{
    width: 50%
  }

  #call{
    font-size: 20px;
  }
  .address{
    font-size: 15px;
  }
}
header{
  height: 70px;
}

/*SMALLER TABLET OR MOBILE PHONE*/
@media only screen and (max-width: 860px) and (min-width: 300px) {
  header{
    height: 100px;
  }

  .title{
    font-size: 22px;
  }

  .logo{
    width: 85%;
    height: 100px;
    line-height: 50px;
    align-items: baseline;
  }

  #miniLogo{
    align-self: center;
    height: 67px;
    width: 105px;
  }
  .title{
    align-self: center;
    margin-top: 40px;
  }

  .burgerContainer{
    display: inline-block;
    width: 50px;
    height: 50px;
    align-self: center;
    margin-top: 20px;
  }

  ul{
    display: none;
  }
  .containerInfo{
    margin-top: 100px;
    flex-wrap: wrap;
  }


  #namenum{
    font-size: 17px;
  }
  #call{
    font-size: 17px;
  }
  .address{
    font-size: 13px;
  }
}

.newSlider{
  background-color: white;
  width: 100%;
  height: 790px;
  padding: 0 20px 0 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  
}